:root {
    --rotation-second: 0deg;
    --rotation-minute: 0deg;
    --rotation-hour: 0deg;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    border: 5px solid black;
    border-radius: 50%;
    max-height: 100vh;
    max-width: 100vh;
    width: 25vw;
    height: 25vw;
    position: relative;
}

.hand {
    border: 2px solid black;
    rotate: -90deg;
}

.second-hand {
  border: 1px solid violet;
  width: 50%;
  margin-top: 50%;
  margin-left: 50%;
  transform-origin: left center;
  transform: rotate(var(--rotation-second));
  position: absolute;
}

.min-hand {
    border: 2px solid pink;
    width: 50%;
    margin-top: 50%;
    margin-left: 50%;
    transform-origin: left center;
    transform: rotate(var(--rotation-minute));
    position: absolute;
}

.hour-hand {
    border: 2px solid skyblue;
    width: 50%;
    margin-top: 50%;
    margin-left: 50%;
    transform-origin: left center;
    transform: rotate(var(--rotation-hour));
    position: absolute;
}